@charset "UTF-8";
.mec-calendar .cal-type-select a {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.25em 1em;
  border: 2px solid #666;
  border-radius: 4px;
  text-decoration: none;
}
.mec-calendar .cal-type-select a:hover, .mec-calendar .cal-type-select a:focus, .mec-calendar .cal-type-select a:active, .mec-calendar .cal-type-select a.active {
  background: #666;
  color: #fff;
}
.mec-calendar .cal-day .calendar-header h2.title-year {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.mec-calendar .cal-day .event-date {
  color: #666;
  font-style: italic;
}
.mec-calendar .calendar-year {
  clear: both;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.mec-calendar .calendar-year .calendar-month.mini table {
  width: 100%;
}
.mec-calendar .calendar-month.mini table {
  width: auto;
  min-width: 240px;
  text-align: center;
}
.mec-calendar .calendar-month.mini th {
  text-align: center;
}
.mec-calendar .calendar-month.mini th a {
  text-decoration: none;
}
.mec-calendar .calendar-month.mini th a:hover, .mec-calendar .calendar-month.mini th a:focus, .mec-calendar .calendar-month.mini th a:active {
  text-decoration: underline;
}
.mec-calendar .calendar-month.mini td {
  text-align: center;
}
.mec-calendar .calendar-month.mini td.has-events {
  background: #FFF9C0;
  padding: 0;
}
.mec-calendar .calendar-month.mini td.has-events a {
  display: block;
  padding: 5px;
}
.mec-calendar .calendar-month.mini tr.days {
  border-bottom: none;
}
.mec-calendar .calendar-month.mini tr.days td {
  border-bottom: 1px solid #FF8C00;
}
.mec-calendar .calendar-header {
  width: 100%;
  position: relative;
}
.mec-calendar .calendar-header h2.title-year {
  text-align: center;
  margin-bottom: 0.25em;
}
.mec-calendar .calendar-header ul.calendar-pager {
  margin: 0;
  padding: 0;
}
.mec-calendar .calendar-header ul.calendar-pager li {
  list-style-type: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-header ul.calendar-pager li {
    position: absolute;
    top: 0;
    padding: 10px 0;
  }
}
.mec-calendar .calendar-header ul.calendar-pager li.date-prev {
  float: left;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-header ul.calendar-pager li.date-prev {
    float: none;
    left: 0;
    right: auto;
  }
}
.mec-calendar .calendar-header ul.calendar-pager li.date-next {
  float: right;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-header ul.calendar-pager li.date-next {
    float: none;
    right: 0;
    left: auto;
  }
}
.mec-calendar .calendar-month {
  clear: both;
  padding: 5px;
}
.mec-calendar .calendar-month tr.days td {
  border: none;
  border-bottom: 1px solid #ccc;
}
.mec-calendar .calendar-month td {
  border: 1px solid #fff;
}
.mec-calendar .calendar-month.mini {
  min-width: 25%;
}
.mec-calendar .calendar-month.full {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .days, .mec-calendar .calendar-month.full .week {
    display: grid;
    grid-template-columns: [day-1] 1fr [day-2] 1fr [day-3] 1fr [day-4] 1fr [day-5] 1fr [day-6] 1fr [day-7] 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
  }
}
.mec-calendar .calendar-month.full .day-names {
  display: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .day-names {
    display: block;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    border: 1px solid #ccc;
    border-bottom-color: #666;
  }
}
.mec-calendar .calendar-month.full .day {
  display: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .day {
    display: block;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    padding: 5px 7px;
    text-align: right;
  }
}
.mec-calendar .calendar-month.full .empty-day {
  display: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .empty-day {
    display: block;
    border: 1px solid #ccc;
    background: #f6f6f6;
  }
}
.mec-calendar .calendar-month.full .no-event {
  display: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .no-event {
    display: block;
    min-height: 90px;
    border: 1px solid #ccc;
    border-top-color: transparent;
  }
}
.mec-calendar .calendar-month.full .event {
  position: relative;
  text-align: left;
  min-width: 0;
  min-height: 0;
  padding: 10px;
  margin-bottom: 5px;
  font-size: small;
  border: 1px solid #666;
  border-top-width: 4px;
  background-color: #ffffff;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event {
    padding: 3px 5px;
    line-height: 1.3;
    margin-bottom: 3px;
    min-height: 25px;
  }
}
.mec-calendar .calendar-month.full .event:before, .mec-calendar .calendar-month.full .event:after {
  display: inline-block;
  width: 16px;
  color: #666;
  font-style: normal;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event:before {
    content: "«";
    float: left;
  }
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event:after {
    content: "»";
    text-align: right;
    float: right;
  }
}
.mec-calendar .calendar-month.full .event p {
  margin-bottom: 0;
}
.mec-calendar .calendar-month.full .event div[role=tooltip] {
  display: none;
}
.mec-calendar .calendar-month.full .event div[role=tooltip] .wp-post-image {
  margin-bottom: 5px;
}
.mec-calendar .calendar-month.full .event div[role=tooltip] .event-title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.mec-calendar .calendar-month.full .event div[role=tooltip] .event-date-time {
  margin-bottom: 5px;
}
.mec-calendar .calendar-month.full .event:hover div[role=tooltip] {
  display: block;
  position: absolute;
  bottom: 1em;
  left: 0.5em;
  width: 15em;
  padding: 0.5em;
  z-index: 100;
  color: #000;
  background-color: #fefefe;
  border: solid 2px #ccc;
  border-radius: 0.2em;
  box-shadow: 2px 2px 5px #ccc;
}
.mec-calendar .calendar-month.full .event a {
  text-decoration: none;
}
.mec-calendar .calendar-month.full .event a:hover, .mec-calendar .calendar-month.full .event a:focus, .mec-calendar .calendar-month.full .event a:active {
  text-decoration: underline;
}
.mec-calendar .calendar-month.full .event:not(.event-start) {
  display: none;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event:not(.event-start) {
    display: block;
    padding-left: 5px;
  }
  .mec-calendar .calendar-month.full .event:not(.event-start) a {
    width: calc(100% - 20px);
  }
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event:not(.event-end) {
    padding-right: 5px;
  }
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event:not(.event-start):not(.event-end) a {
    width: calc(100% - 40px);
  }
}
.mec-calendar .calendar-month.full .event-title a {
  color: #333;
}
.mec-calendar .calendar-month.full .event-title {
  display: block;
  word-break: break-word;
}
@media screen and (min-width: 480px) {
  .mec-calendar .calendar-month.full .event-title {
    display: inline;
  }
}
@media screen and (min-width: 960px) {
  .mec-calendar .calendar-month.full .event-title {
    word-break: break-word;
  }
}
.mec-calendar .calendar-month.full .event-date,
.mec-calendar .calendar-month.full .event-time {
  font-style: italic;
  color: #666;
}
.mec-calendar .calendar-month.full .event-date {
  font-weight: bold;
}
.mec-calendar .calendar-month.full .event-start {
  border-left-width: 2px;
}
.mec-calendar .calendar-month.full .event-start:before {
  display: none;
  content: "";
}
.mec-calendar .calendar-month.full .event-end {
  border-right-width: 2px;
  float: none;
}
.mec-calendar .calendar-month.full .event-end:after {
  display: none;
  content: "";
}
.mec-calendar ul.day-list li {
  margin-bottom: 0.5em;
}

/**
 * Upcoming Events
 */
.mec-sc-events ul.events-list,
#secondary .mec-sc-events ul.events-list {
  list-style-type: none;
  margin-left: 0;
}
.mec-sc-events ul.events-list li,
#secondary .mec-sc-events ul.events-list li {
  position: relative;
  margin-bottom: 0.5em;
  line-height: 1.5;
  margin-bottom: 1em;
}
.mec-sc-events ul.events-list li .dashicons,
#secondary .mec-sc-events ul.events-list li .dashicons {
  color: #888;
  position: relative;
  top: 4px;
  margin: 0 0.1em 0 0.5em;
  font-size: 1.1em;
}
.mec-sc-events ul.events-list li .dashicons.list-icon,
#secondary .mec-sc-events ul.events-list li .dashicons.list-icon {
  position: absolute;
  left: -27px;
  font-size: 1.6em;
}
.mec-sc-events ul.events-list li .event-date,
#secondary .mec-sc-events ul.events-list li .event-date {
  color: #666;
  font-style: italic;
}
.mec-sc-events .mec-event,
#secondary .mec-sc-events .mec-event {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-start;
}
.mec-sc-events .mec-event + .mec-event,
#secondary .mec-sc-events .mec-event + .mec-event {
  padding-top: 1em;
  border-top: 1px solid #c3c3cb;
}
.mec-sc-events .mec-event .event-title,
#secondary .mec-sc-events .mec-event .event-title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.mec-sc-events .mec-event .event-dateblock,
#secondary .mec-sc-events .mec-event .event-dateblock {
  position: relative;
  background-color: #666;
  color: #fff;
  flex: 0 0 60px;
  padding: 0.5em;
}
.mec-sc-events .mec-event .event-dateblock .day, .mec-sc-events .mec-event .event-dateblock .month,
#secondary .mec-sc-events .mec-event .event-dateblock .day,
#secondary .mec-sc-events .mec-event .event-dateblock .month {
  text-align: center;
  line-height: 1;
}
.mec-sc-events .mec-event .event-dateblock .day,
#secondary .mec-sc-events .mec-event .event-dateblock .day {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}
.mec-sc-events .mec-event .event-dateblock .month,
#secondary .mec-sc-events .mec-event .event-dateblock .month {
  font-size: 1.1em;
}
.mec-sc-events .mec-event .event-dateblock .year,
#secondary .mec-sc-events .mec-event .event-dateblock .year {
  position: absolute;
  top: 0;
  right: -1em;
  transform: rotate(270deg) translatex(-60%) translatey(-50%);
  text-align: center;
  line-height: 1;
  margin: 0 auto;
  color: #cccccb;
  letter-spacing: 0.18em;
}
.mec-sc-events .schedule ul,
#secondary .mec-sc-events .schedule ul {
  list-style-type: none;
  padding-left: 0;
}
.mec-sc-events .schedule .event-date,
#secondary .mec-sc-events .schedule .event-date {
  color: #666;
  font-style: italic;
}
.mec-sc-events .schedule .dashicons.list-icon,
#secondary .mec-sc-events .schedule .dashicons.list-icon {
  margin-right: 5px;
  color: #666;
  position: relative;
  top: 2px;
}

@media screen and (min-width: 480px) {
  .hide-desktop {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }
}

.mec-schedule {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.mec-schedule.cols-2 {
  -moz-columns: 300px 2;
       columns: 300px 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
  orphans: 3;
  widows: 3;
}
.mec-schedule ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.mec-schedule .dashicons {
  margin-right: 5px;
  color: #333;
  position: relative;
  top: 2px;
}

.mec-details {
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
.mec-details p {
  margin-bottom: 0.5em;
}
.mec-details ul.downloads {
  overflow: hidden;
  padding-left: 20px;
}
.mec-details div.prices {
  overflow: hidden;
}
.mec-details span.label {
  display: inline-block;
  min-width: 140px;
  font-weight: bold;
}/*# sourceMappingURL=mec-style.css.map */